{% import _self as selfMacros %}
{% macro attributes(attributes) %}
    {% spaceless %}
        {% for attb, value in attributes %}
            {{ attb }}="{{ value }}"
        {% endfor %}
    {% endspaceless %}
{% endmacro %}

<table id="{{ id }}" {{ selfMacros.attributes(table_attr) }} data-jqtable="{{ options | json_encode }}">
	<thead>
		<tr>
			{% for column in columns %}
			<th data-column-field="{{ column.field }}">
				{{ column.getLabel() }}
			</th>
			{% endfor %}
		</tr>
	</thead>
</table>
<script>
	(function ($) {
        $(document).ready(function () {
            $('#{{ id }}').jqtable();
        });
    })(jQuery);
</script>