{% import _self as selfMacros %}

<table {{ selfMacros.render_attb(options['table_attr']) }}>
	<thead>
		<tr>
			{% for column in columns %}
			<th>
				{{ column.getLabel() }}
			</th>
			{% endfor %}
		</tr>
	</thead>
	<tbody>
		{% for record in records %}
		<tr>
			{% for column in columns %}
			<td>
				{{ column.format(record, source) | raw }}
			</td>
			{% endfor %}
		</tr>
		{% endfor %}
	</tbody>
</table>

{% macro render_attb(attributes) %}
{% spaceless %}
{% for attb, value in attributes %}
    {{ attb }}="{{ value }}"
{% endfor %}
{% endspaceless %}
{% endmacro %}